body {
  background-color: lightyellow;
  margin: 1em;
}
h1{
  color: steelblue;
  text-align: left;
  font-size: 200%;
}
h2{
  color: black;
  text-align: left;
}
h3{
  color: black;
  font-family: sans-serif;
}
.instructions{
  color: black;
  font-family: sans-serif;
  font-style: italic;
}

.sidebar {
  grid-area: sidebar;
  list-style-type: none;
}
a:link{
  color:steelblue;
  text-decoration: none
}
a:visited{
  color:steelblue;
  text-decoration: none
}
a:active{
  color:steelblue
}
nav li{
  background-color: lightpink;
  padding:2px;
  border-radius: 4px;
  border-color: white;
  border-width: 2px, 2px, 2px, 2px; 
  border-style: ridge;
}
main ul{
  list-style-type: none;
  color: black;
  float: left;
  overflow: auto;
}
main li:nth-child(1){
  background-color: rgb(243, 72, 72);
}
main li:nth-child(2){
  background-color:lightgoldenrodyellow
}
main li:nth-child(3){
  background-color: whitesmoke
}
main li:nth-child(4){
  background-color:lightgoldenrodyellow
}
main li:nth-child(5){
  background-color: lightgreen;
}
nav li:hover {
  background-color: white;
}
.content {
  grid-area: content;
}
.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
  background-color: lightsalmon;

}
.wrapper {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 12em, 36em, 36em;
  grid-template-areas:
  "...... header header"
  "sidebar content content"
  "footer  footer  footer";
  background-color: lightyellow;
  color: #444;
}
.box {
  background-color: lightcoral;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.header,
.footer {
  background-color: lightsalmon;
}
input{
  border-radius: 2px;
  margin: 10px;
}
label{
  font-weight: bold;
}